/*sets all margins and paddings to 0*/
*{
  margin-top: 0;
  padding-top: 0;
  margin-right: 0;
  padding-right: 0;
  margin-left: 0;
  padding-left: 0;
}

/*customizes the body and font-family*/
body {
  min-height: 100vh;
  background: #0b0d15;
  color: #a2a5b3;

  
  background-image: url(programmingBackground.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*customizes texts from headline class*/
.headline {
    text-align: center;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*sets the font-family and text-color for everything in the data*/
html{
    font-family: Poppins;
    color: #f0f0f0;
  }
  
  /*sets the color for h1 to white*/
  h1{
    color: white;
  }

  .card{
    margin: 0 auto;
    padding: 2em;
    width: 300px;
    background: #1c1f2b;
    text-align: center;
    border-radius: 10px;
    position: relative;
    top: 0;
    right: -700px;
  
  }
  
  @property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }
  
  .card::after, .card::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;

    background-image: conic-gradient(from var(--angle), #2bb6ec, #e941b6, #ffffff, #e941b6, #2bb6ec);
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
  }
  .card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
  }
  @keyframes spin{
    from{
      --angle: 0deg;
    }
    to{
      --angle: 360deg;
    }
  }

nav{
  background-color: #1c1f2b;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: white;
}
nav a:hover{
  background-color: #222222;
}
nav li:first-child{
  margin-right: auto;
}
.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: #1c1f2b;
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}
h2{
  color: white;
  position: relative;
  top: 0px;
}

.textbox-home{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1c1f2b;
  border-radius: 10px;
  padding: 50px;
  position: absolute;
  top: 80px;
  left: 20px;
  width: 500px;
}
.textbox-about{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1c1f2b;
  border-radius: 10px;
  padding: 50px;
  position: absolute;
  top: 80px;
  left: 20px;
  width: 500px;
}
.main-page-image{
  background-color: #1c1f2b;
  box-shadow: -20px 0 20px rgba(0, 0, 0, 0.2);
  padding: 30px;
  position: relative;
  top: 200px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 52px;
}
h3{
  color: whitesmoke;
}
.artworks-page{
  position: relative;
}
.textbox-contact{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1c1f2b;
  border-radius: 10px;
  padding: 50px;
  position: relative;
  left: 20px;
  top: 500px;
  width: 260px;
}
